.element__group {
  margin: 5px 5px 1px auto;
  opacity: 1;
  background: transparent;
}

.element__group:hover {
  opacity: .5;
  transition: transform .5s ease-out;
  cursor: pointer;
  outline:none;
}
