.popup__close-button {
  position: absolute;
  top: -45px;
  right: -45px;
  min-width: 48.28px;
  min-height: 48.28px;
  cursor: pointer;
  opacity: 1;
  border: 0;
  background: transparent;
}
.popup__close-button:hover {
  opacity: .6;
  transition: transform .5s ease-out;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    top: -40px;
    right: -5px;
    min-width: 26px;
    min-height: 26px;
  }
}
